#box {
  height: 70px;
  width: 70px;
  background-color: aqua;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box p {
  text-align: center;
}
